<div>
    <div *ngIf="manager" class="comment-wrap main-wrap">
        <div class="avatarHold">
            <img src="https://icons-for-free.com/iconfiles/png/512/facebook+profile+user+profile+icon-1320184041317225686.png"
                class=" avatar" alt="Menager Avatar">
            <div class="buttonHolder">
                <button type="submit" [disabled]="!managerForm" *ngIf=" visibleFields" class="buttonSave">
                    Save changes</button>
                <button *ngIf=" visibleFields" (click)="deleteManager()" [routerLink]="['/users']" class="buttonDelet">
                    Delete user
                </button>
            </div>
        </div>
        <div class="comment-body">
            <div class="comment-author-wrap " *ngIf="! visibleFields">
                <p> name:{{manager.name}}</p>
                <p> surname:{{manager.surname}}</p>
                <p> patronymic:{{manager.patronymic}}</p>
                <p> rating:{{manager.rating}}</p>
                <p> children House ID:{{manager.childrenHouseID}}</p>
                <button (click)="changeInfoManager()" [routerLink]="['/manager', manager.id]" class="buttonChange">
                    Change Information
                </button>
            </div>
            <div class="comment-author-wrap " *ngIf="visibleFields">
                <div [formGroup]="managerForm" (ngSubmit)="editInfoManager()">
                    <p> name:
                        <input class="inputForm" formControlName="name">
                    </p>
                    <p> surname:
                        <input class="inputForm" formControlName="surname">
                    </p>
                    <p> patronymic:
                        <input class="inputForm" formControlName="patronymic">
                    </p>
                    <p> rating:
                        <input class="inputForm" formControlName="rating">
                    </p>
                    <p> childrenHouseID:
                        <input class="inputForm" formControlName="childrenHouseID">
                    </p>
                    <p> photoPath:
                        <input class="inputForm" formControlName="photoPath">
                    </p>
                </div>
            </div>
        </div>
    </div>