<div>
    <mat-card class="user-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="title">{{helper.name}} {{helper.patronymic}} {{helper. surname}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><img mat-card-image class="avatar" src="{{helper.photoPath}}" alt="Photo of a Shiba Inu"></p>
            <p>Birthday: {{helper.birthday| date: 'dd/MM/yyyy'}}</p>
            <p>Rating: {{helper.rating}}</p>
        </mat-card-content>
        <mat-card-actions class="button">
                <button mat-raised-button color="primary" 
                [routerLink]="['/helper', helper.id]"
                (click)=" selecHelper(helper)"> More</button>
        </mat-card-actions>
    </mat-card>
</div>
