.user-card {
    max-width: 370px;
    height: 200px;
    margin: 0 10px;
}

.title{
    font-size: 18px;
    height: 35px;
}

.avatar {
    width: 100px;
    float: left;
    margin: 10px;
}
.button{
    float: right;
}