<p>needs work</p>

<mat-list>
  <mat-list-item *ngFor="let need of needs | async">
    <span class="shelter">Shelter {{ need.orphanageId }}</span>
    <span class="need">{{ need.itemName }}</span>
    <span class="status">{{ need.status }}</span>
    <span class="date">{{ need.lastDateWhenStatusChanged}}</span>
    <button mat-button (click)="openDialog()">Open details</button>
  </mat-list-item>
</mat-list>

<!-- <mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <h1>{{ title1 }}</h1>
    </ng-template>

    <mat-list>
      <mat-list-item *ngFor="let need of needs">
        <span class="shelter">Shelter {{ need?.orphanageId }}</span>
        <span class="need">{{ need?.itemName }}</span>
        <span class="status">{{ need?.status }}</span>
        <span class="date">{{ need?.lastDateWhenStatusChanged}}</span>
        <button mat-button (click)="openDialog()">Open details</button>
      </mat-list-item>
    </mat-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <h1>{{ title2 }}</h1>
    </ng-template>
  
    <mat-list>
      <mat-list-item>
        <span class="date">date</span>
        <span class="shelter">Shelter</span>
        <span class="need">quest1</span>
        <button mat-raised-button (click)="openDialog()">Show details</button>
      </mat-list-item>
      <mat-list-item>
        <span class="date">date</span>
        <span class="shelter">Shelter</span>
        <span class="need">quest2</span>
      </mat-list-item>
      <mat-list-item>
        <span class="date">date</span>
        <span class="shelter">Shelter</span>
        <span class="need">quest3</span>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group> -->
