<div class="side">
        <mat-grid-list cols="5">
                <mat-grid-tile-header>
                    <button class="addPerson" mat-raised-button color="primary">
                        <mat-icon>person_add</mat-icon>Add Manager
                    </button>
                </mat-grid-tile-header>
        <mat-grid-tile *ngFor="let manager of managers$ | async; trackBy: TrackByManagers">
            <app-manager-item [manager]="manager"></app-manager-item>
        </mat-grid-tile>
    </mat-grid-list>
</div>
