body { font-family: Helvetica; }
.main-wrap{
    width: 60%;
    margin:25px 0 0 30%;
    padding: 10px !important;
}

.avatar{
    width: 90%;
    margin: auto;
}
.comment-wrap{
font-size: 20px;
font-weight: 400;
list-style: none;
box-sizing: border-box;
position: relative;
display: grid;
grid-template-columns: 150px minmax(10px,1fr) 150px;
grid-gap: 0;
background: #f0f0f136;
color:rgb(31, 30, 30);
box-shadow: 0 2px 35px #173185;
padding: 2rem;
border-radius: 16px;
}

.comment-body{
  
font-size: 20px;
font-weight: 400;
list-style: none;
color:rgb(31, 30, 30);
box-sizing: border-box;
padding: 0;
}


.button{
    background-color: rgb(113, 135, 207);
    margin-top: 40%;
    width: 75%;
    height: 20%;
    border-radius: 3px;
    color: white;
    border: 1px solid rgb(113, 135, 207);
}
.buttonAddHelper{
    box-shadow: 0 2px 35px #173185;
    background-color: #55a7a2;
    float: left;
    margin-left: 1%;
    margin-top: 5%;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    color: white;
    border: 1px solid  #175485;
    font-weight:400 ;
    font-size: 16px;
}
.buttonAddManager{
    box-shadow: 0 2px 35px #136442;
    background-color: #257035;
    float: left;
    margin-left: 1%;
    margin-top: 5%;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    color: white;
    border: 1px solid  #175485;
    font-weight:400 ;
    font-size: 16px;
    padding: 0;
}



.inputForm{
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #173185;
  margin: 0 50% 0 auto;;
}