@import "src/app/shared/style/variables.scss";

.shelter {
  text-decoration: none;
}

.mat-card {
  cursor: pointer;
}

.shelter .selected {
  background-color: $selected-background-color;
  color: white;
}

.shelter .selected:hover,
.mat-card:hover {
  background-color: $selected-hover-background-color;
}

.representative {
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.representative__photo {
  height: 50px;
  max-width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 15px 15px;
}

mat-card {
  min-height: 280px;
}