@import "src/app/shared/style/variables.scss";

mat-card {
  position: relative;
  padding-bottom: 35px;
}

mat-card-actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.shelter-button {
  text-decoration: none;
}

.shelter .selected {
  background-color: $selected-background-color;
  color: white;
}

.shelter .selected:hover {
  background-color: $selected-hover-background-color;
}

.representative {
  display: flex;
  align-items: center;
  line-height: 1.5;
}

.representative__photo {
  height: 50px;
  max-width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 15px 15px;
}

mat-card {
  min-height: 280px;
}