.form-wrap {
  display: flex;
  flex-direction: column;
  max-width: 37rem;
  margin: 5rem auto;

  h4 {
    text-align: center;
  }

  .div-buttons {
    text-align: center;
  }

  label {
    outline: none;
    cursor: pointer;
  }
}
