<div class="center" *ngIf="isSpinner">
  <mat-spinner fxFlex fxFlexAlign="center"></mat-spinner>
</div>

<div>
  <div>  
    <button 
      class="show-purchases-button"
      mat-button
      (click)="goToCreateLotPage()">
      Create new lot</button>
    <button 
      *appPermission="permissions.auctionShowPurchase"
      class="show-purchases-button"
      mat-button>
      Show purchases</button>
  </div>

  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let lot of lots$ | async; trackBy: trackById">
      <app-auction-lot [lot]="lot"></app-auction-lot>
    </mat-grid-tile>
  </mat-grid-list>
</div>
