<mat-card class="need">
  <mat-card-title>{{ need.itemName }}</mat-card-title>
  <mat-card-subtitle>id: {{ need.id }}</mat-card-subtitle>
  <mat-card-content>
    <div>
      Shelter name: <a class="shelter-name" [routerLink]="['/shelters', need.orphanageID]">{{ need.orphanageName | uppercase }}</a>
    </div>
    <div *ngIf="need.city">City: {{ need.city }}</div>
    <div>Status:
      {{ need.status }}
    </div>
    <div>Status changed:
      {{ need.lastDateWhenStatusChanged | date:'dd.MM.yyyy' }}
    </div>
  </mat-card-content>

  <mat-card-actions>
      <a mat-raised-button class="need" [routerLink]="['/needs', need.id]">
        Open details
      </a>
      <a mat-raised-button (click)="onDonate()" color="primary">
        Donate
      </a>
  </mat-card-actions>
</mat-card>
