.container {
  display: flex;
  flex-direction: column;
  max-width: 37rem;
  margin: 5rem auto;
}

.head {
  margin-bottom: 0px;
}

h2 {
  text-align: center;
}

.div-buttons {
  margin-top: 1rem;
  text-align: center;
}
