<div *ngIf="authStateService.isLogged(); else guest">
  <a mat-button [matMenuTriggerFor]="menu">
    {{authStateService.getStateProperty('email')}}
    <mat-icon>arrow_drop_down</mat-icon>
  </a>

  <mat-menu #menu="matMenu">
    <a *ngIf="authStateService.checkRoles(['Admin'])" mat-menu-item [routerLink]="['/registration-shelter']">
      Registrate a New Shelter</a>
    <a *ngIf="authStateService.checkRoles(['Admin'])" mat-menu-item [routerLink]="['/users']">Users Details</a>
    <a mat-menu-item (click)="authenticationService.logout()">Sign out</a>
  </mat-menu>
</div>

<ng-template #guest>
  <a mat-button [routerLink]="['/login']">Sign in</a>
  <a mat-raised-button [routerLink]="['/registraction-user']">
    Sign up</a>
</ng-template>
