<div *ngIf="isLogged(); else guest">
  <button mat-button [matMenuTriggerFor]="menu">
    <img src="assets/defaultUserPic.png"/>
    <span>{{getUser()}}</span> <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item [routerLink]="['/registration-shelter']">Registrate a New Shelter</a>
    <a mat-menu-item (click)="logOut()">Sign out</a>
  </mat-menu>
</div>

<ng-template #guest>
  <a mat-stroked-button [routerLink]="['/login']">
    Sign in
  </a>
</ng-template>
