<form class="container" [formGroup]="userRegForm" (ngSubmit)="onSubmit()">
  <h2 class="mat-display-1">Create New User</h2>

  <mat-form-field>
    <input matInput placeholder="Phone Number*" type="text" formControlName="phone" appPhoneMask [maxlength]="maxInputLength.phone" />
    <mat-hint align="end">
      Format: (050) 123-4567
    </mat-hint>
    <mat-error *ngIf="isFieldInvalid('phone')">
      Please enter valid Phone Number (format: (050) 123-4567)
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email*" type="email" formControlName="email" [maxlength]="maxInputLength.email" />
    <mat-hint align="end">
      Format: johndoe@gmail.com
    </mat-hint>
    <mat-error *ngIf="isFieldInvalid('email')">
      Please enter valid Email (format: johndoe@gmail.com)
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password*" type="password" formControlName="password" [maxlength]="maxInputLength.password" />
    <mat-hint align="end">
      Between 6 and 20 symbols, must have at least one letter and one number
    </mat-hint>
    <mat-error *ngIf="isFieldInvalid('password')">
      Please enter valid Password (6-20 symbols, 1 digit and 1 letter at least)
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Confirm Password*" type="password" formControlName="confirmPassword" [maxlength]="maxInputLength.password" />
    <mat-hint align="end">
      Between 6 and 20 symbols, must have at least one letter and one number
    </mat-hint>
    <mat-error *ngIf="isFieldInvalid('confirmPassword')">
      Passwords don't match
    </mat-error>
  </mat-form-field>

  <div class="div-buttons">
    <button type="submit" mat-raised-button [disabled]="userRegForm.invalid">
      Create Account
    </button>
  </div>
</form>