<form class="form-wrap" [formGroup]="form" (ngSubmit)="submit()">
  <h4 class="mat-display-1">Shelter Registration Form</h4>
  <mat-form-field [ngClass]="{ 'mat-form-field': isFieldValid('name') }">
    <input matInput type="text" placeholder="Name" formControlName="name" />
    <mat-error *ngIf="isFieldValid('name')">You must enter a value</mat-error>
  </mat-form-field>
  <mat-form-field [ngClass]="{ 'mat-form-field': isFieldValid('phone') }">
    <input
      matInput
      type="tel"
      placeholder="Phone e.g. (555) 555-5555"
      formControlName="phone"
    />
    <mat-error *ngIf="isFieldValid('phone')">You must enter a value</mat-error>
  </mat-form-field>
  <mat-form-field [ngClass]="{ 'mat-form-field': isFieldValid('address') }">
    <input
      matInput
      type="text"
      placeholder="Address"
      formControlName="address"
    />
    <mat-error *ngIf="isFieldValid('address')">
      You must enter a value
    </mat-error>
  </mat-form-field>
  <mat-form-field [ngClass]="{ 'mat-form-field': isFieldValid('kids') }">
    <input matInput type="number" placeholder="Kids" formControlName="kids" />
    <mat-error *ngIf="isFieldValid('kids')">You must enter a value</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea
      matInput
      placeholder="Additional Information"
      formControlName="info"></textarea>
  </mat-form-field>
  <div class="div-buttons">
    <button type="submit" mat-button [disabled]="form.invalid">Confirm</button>
    <button mat-button (click)="gotoMainPage()">Cancel</button>
  </div>
</form>
