<mat-card *ngIf="need$ | async; let need">
  <mat-card-title mat-raised-button>
    <a mat-button>
      Name: {{need.orphanageName}}
    </a>
  </mat-card-title>

    <mat-card-content>Address: {{need.city}}, {{need.orphanageStreet}}/{{need.orphanageHouse}}</mat-card-content>
    <mat-card-content>We need: {{need.itemName}}</mat-card-content>
    <mat-card-content>Details: {{need.itemDescription}}</mat-card-content>

  <mat-card-actions>
    <button mat-raised-button [routerLink]="['/donation']">Back</button>
    <button mat-raised-button>Donate</button>
  </mat-card-actions>
</mat-card>
