<mat-card>
  <form class="details-form" [formGroup]="needForm">
    <mat-card-title>
      <mat-form-field class="details-full-width">
        <input matInput placeholder="Need item" formControlName="name">
      </mat-form-field>
      <mat-form-field class="details-full-width">
        <input matInput placeholder="Need details" formControlName="description">
      </mat-form-field>
    </mat-card-title>
  </form>

  <mat-card-subtitle>
    <div>Status:
      {{ need?.status }}
    </div>
    <div>Status changed:
      {{ need?.lastDateWhenStatusChanged | date:'dd.MM.yyyy' }}
    </div>
  </mat-card-subtitle>

  <mat-card-content>Additional info:
    <div *ngIf="need">
      Shelter name: <a class="shelter-name" [routerLink]="['/shelters', need.orphanageID]">{{ need?.orphanageName | uppercase }}</a>
    </div>
    <div>Address: {{ need?.city }}, {{ need?.street }}, {{ need?.house }}</div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="onBack()">Back</button>
    <button mat-raised-button (click)="onDonate()" color="primary">Donate</button>
    <button mat-raised-button (click)="onEdit()">Edit</button>
    <button mat-raised-button (click)="onSave()">Save</button>
    <button mat-raised-button (click)="onDelete()">Delete</button>
  </mat-card-actions>
</mat-card>
