<mat-card>
    <div class="container-image" *ngIf="shelter">
        <img mat-card-image class="shelter-photo" [src]="changedPhoto ? changedPhoto : shelter.photoPath" alt="Shelter photo">
        <mat-file-upload
            *appPermission="'shelterUploadPhoto'"
            [labelText]="'Select a file:'"
            [selectButtonText]="'Choose File(s)'"
            (uploadClicked)="onUploadClicked($event)"
            (selectedFilesChanged)="onSelectedFilesChanged($event)">
        </mat-file-upload>
    </div>
    <form class="details-form" [formGroup]="profileForm">
        <mat-card-title>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="Shelter name" formControlName="name">
            </mat-form-field>
        </mat-card-title>
        <mat-card-subtitle class="address" formGroupName="address">
            <mat-form-field class="details-full-width">
                <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="Region" formControlName="region">
            </mat-form-field>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="Street" formControlName="street">
            </mat-form-field>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="House" formControlName="house">
            </mat-form-field>
        </mat-card-subtitle>
        <mat-card-content>Rating: {{shelter?.rating}}</mat-card-content>
        <mat-card-content class="coords">Location:
            <mat-card-subtitle>
                mapCoordX: {{shelter?.location?.mapCoordX}},
                mapCoordX: {{shelter?.location?.mapCoordY}}
            </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <button *appPermission="'shelterDelete'" mat-button (click)="onDelete()"
                [disabled]="!isEdiDisabled">Delete</button>
            <button *appPermission="'shelterEdit'" mat-button (click)="onEdit()"
                [disabled]="!isEdiDisabled">Edit</button>
            <button *appPermission="'shelterSave'" mat-button (click)="onSubmit()"
                [disabled]="isEdiDisabled || profileForm.invalid">Save</button>
            <button *appPermission="'shelterReset'" mat-button (click)="onReset()"
                [disabled]="isEdiDisabled">Reset</button>
        </mat-card-actions>
    </form>
</mat-card>