.mat-card {
  max-width: 450px;
  margin: 25px auto;
}

.mat-card-image {
  max-height: 250px;
  object-fit: contain;
}
.details-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.details-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.mat-card-actions {
  text-align: center;
}

.coords {
  display: flex;

  mat-card-subtitle {
    padding: 0 15px;
  }
}
