<mat-card [ngClass]="{ 'show-map': isShowMap }">
    <div class="container-image" *ngIf="shelter">
        <img mat-card-image class="shelter-photo" [src]="changedPhoto ? changedPhoto : shelter.photoPath"
            alt="Shelter photo">
        <mat-file-upload #uploadPhotoButton *appPermission="permissions.shelterUploadPhoto" labelText="Select a file:"
            [selectButtonText]="'Choose File'" (uploadClicked)="onUploadClicked($event)"
            (selectedFilesChanged)="onSelectedFilesChanged($event)">
        </mat-file-upload>
    </div>
    <form class="details-form" [formGroup]="profileForm">
        <mat-card-title>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="Shelter name" formControlName="name">
            </mat-form-field>
        </mat-card-title>
        <mat-card-subtitle class="address" formGroupName="address">
            <mat-form-field class="details-full-width">
                <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="Region" formControlName="region">
            </mat-form-field>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="Street" formControlName="street">
            </mat-form-field>
            <mat-form-field class="details-full-width">
                <input matInput placeholder="House" formControlName="house">
            </mat-form-field>
        </mat-card-subtitle>
        <mat-card-content>Rating: {{shelter?.rating}}</mat-card-content>
        <mat-card-content class="coords">Location:
            <mat-card-subtitle>
                mapCoordX: {{shelter?.location?.mapCoordX}},
                mapCoordX: {{shelter?.location?.mapCoordY}}
            </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
            <button *appPermission="permissions.shelterDelete" mat-button (click)="onDelete()"
                [disabled]="!isEdiDisabled">Delete</button>
            <button *appPermission="permissions.shelterEdit" mat-button (click)="onEdit()"
                [disabled]="!isEdiDisabled">Edit</button>
            <button *appPermission="permissions.shelterSave" mat-button (click)="onSubmit()"
                [disabled]="isEdiDisabled || profileForm.invalid">Save</button>
            <button *appPermission="permissions.shelterReset" mat-button (click)="onReset()"
                [disabled]="isEdiDisabled">Reset</button>
            <button *ngIf="shelter?.location" mat-button type="button"
                (click)="toggleMap()">{{ isShowMap ? 'Hide map' : 'Show map' }}</button>
        </mat-card-actions>
    </form>
    <app-map *ngIf="marker && shelter?.location" [markers]="marker"></app-map>
</mat-card>
