$navbar-background-color: aliceblue;
$colorRedForError: #FF0000;

$button-primary-background-color: aliceblue;
$selected-background-color: #CFD8DC;
$selected-hover-background-color: #BBD8DC;
$dark-text-color: #000000;
$reset-btn-bgc: #e7902c;
$save-btn-bgc: #277a47;
$del-btn-bgc: #e7322c;
$text-btn: #ffffff;
$edit-btn-text-color: #424141;
$shelter-link-color: #1b285c;
