$navbar-background-color: aliceblue;
$colorRedForError: #FF0000;

$button-primary-background-color: aliceblue;
$selected-background-color: #CFD8DC;
$selected-hover-background-color: #BBD8DC;
$color-black: #000000;
$reset-btn: #e7902c;
$save-btn: #277a47;
$del-btn: #e7322c;
$text-btn: #ffffff;
$edit-color: #424141;