.lot-card {
  width: 280px;
}

.lot-avatar-div {
  margin: 50px auto;
  height: 100px;
  width: 100px;
}

.lot-control-div {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
}