<mat-card class="lot-card">
  <mat-card-title>{{ lot.auctionLotInfo.name }}</mat-card-title>
  <mat-card-subtitle>from {{ lot.dateAdded | date:'dd/MM/yyyy' }}</mat-card-subtitle>

  <mat-card-content class="lot-avatar-div">
      <img class="lot-avatar-img" mat-card-image class="avatar" [src]="lot.photoParth" [alt]="lot.auctionLotInfo.name">
  </mat-card-content>

  <mat-card-content>
      <div>
        <a [routerLink]="['/shelters', lot.shelterInfo.id]">Shelter: {{ lot.shelterInfo.name }}</a>
      </div>
      <div>Additional info: {{ lot.auctionLotInfo.description }}</div>
  </mat-card-content>

  <mat-card-actions>
    <div class="lot-control-div">  
      <button 
        mat-raised-button
        color="primary">
        Buy for {{ lot.auctionLotInfo.price }}.00$
      </button>
    </div>
  </mat-card-actions>
</mat-card>