<div>
    <mat-grid-list cols="5" rowHeight="80px">
        <mat-grid-tile
            [colspan]="1">
            <app-search
            (searchInit)="onSearch($event)"></app-search>
        </mat-grid-tile>

        <mat-grid-tile
            [colspan]="1">
            <button class="addHelperButton" mat-raised-button color="primary">
                <mat-icon>person_add</mat-icon>Add Helper
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5">
        <mat-grid-tile *ngFor="let helper of helpers$ | async; trackBy: trackByHelpers">
            <app-helper-item [helper]="helper"></app-helper-item>
        </mat-grid-tile>
    </mat-grid-list>
</div>
