<div>
    <button mat-raised-button [routerLink]="['', 'users']" routerLinkActive="router-link-active" color="primary">
        <mat-icon>reply</mat-icon>Back to users
    </button>
    <mat-card>
        <div *ngIf="helper" class="heder-card">
            <h2> All Information about {{ helper.name }}</h2>
            <mat-card-content>
                <p><img mat-card-image class="avatar" src="{{ helper.photoPath }}"
                        alt="Photo of {{ helper.name }} {{ helper.surname }}"></p>
            </mat-card-content>
        </div>
        <mat-card-content>
            <form class="details-form" [formGroup]="profileForm">
                <mat-form-field *ngIf="visibleFields" class="details-full-width">
                    <input matInput placeholder="Path to photo" formControlName="photoPath">
                </mat-form-field><br>
                <mat-card-title>
                    <mat-form-field class="details-full-width">
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field><br>
                    <mat-form-field class="details-full-width">
                        <input matInput placeholder="Surname" formControlName="surname">
                    </mat-form-field><br>
                    <mat-form-field class="details-full-width">
                        <input matInput placeholder="Patronymic" formControlName="patronymic">
                    </mat-form-field><br>
                    <mat-form-field class="details-full-width">
                        <input matInput placeholder="Birthday" formControlName="birthday">
                    </mat-form-field><br>
                    <mat-form-field class="details-full-width">
                        <input matInput placeholder="Rating" formControlName="rating">
                    </mat-form-field><br>
                </mat-card-title>
                <mat-card-actions>
                    <button  mat-button (click)="onEdit()" [disabled]="!isEditDisabled">Edit</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
        <mat-card-actions *ngIf="visibleFields" class="button">
            <button mat-raised-button class="reset" (click)="onReset()" [disabled]="isEditDisabled">
                <mat-icon>settings_backup_restore</mat-icon>Reset
            </button>
            <button mat-raised-button class="delete" (click)="deleteUser()"
                [disabled]="isEditDisabled || profileForm.invalid">
                <mat-icon>delete_forever</mat-icon>Delete user
            </button>
            <button mat-raised-button class="save-btn" (click)="changeInfo()"
                [disabled]="isEditDisabled || profileForm.invalid">
                <mat-icon>done_all</mat-icon>Save changes
            </button>
        </mat-card-actions>
    </mat-card>
</div>
