<mat-card>
  <form class="details-form" [formGroup]="questForm">
    <mat-card-title>
      <mat-form-field class="details-full-width">
        <input matInput placeholder="Quest item" formControlName="quest">
      </mat-form-field>
      <mat-form-field class="details-full-width">
        <input matInput placeholder="Quest details" formControlName="details">
      </mat-form-field>
    </mat-card-title>
  </form>

  <mat-card-subtitle>
    <div>Status:
      {{ quest?.status }}
    </div>
    <div>Status changed:
      {{ quest?.lastDateWhenStatusChanged | date:'dd.MM.yyyy' }}
    </div>
  </mat-card-subtitle>

  <mat-card-content>Additional info:
    <div *ngIf="quest">
      Shelter name: <a class="shelter-name" [routerLink]="['/shelters', quest.orphanageID]">{{ quest?.orphanageName | uppercase }}</a>
    </div>
    <div>Address: {{ quest?.city }}, {{ quest?.street }}, {{ quest?.house }}</div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="onBack()">Back</button>
    <button mat-raised-button (click)="onExecute()" color="primary">Execute</button>
    <button mat-raised-button (click)="onEdit()">Edit</button>
    <button mat-raised-button>Save</button>
    <button mat-raised-button>Delete</button>
  </mat-card-actions>
</mat-card>
