<mat-card class="quest">
  <mat-card-title>{{ quest.itemName }}</mat-card-title>
  <mat-card-subtitle>id: {{ quest.id }}</mat-card-subtitle>
  <mat-card-content>
    <div>
      Shelter name: <a class="shelter-name" [routerLink]="['/shelters', quest.orphanageID]">{{ quest.orphanageName | uppercase }}</a>
    </div>
    <div *ngIf="quest.city">City: {{ quest.city }}</div>
    <div>Status:
      {{ quest.status }}
    </div>
    <div>Quest period:
      {{ quest.fromDate | date:'dd.MM.yyyy' }} - {{ quest.toDate | date:'dd.MM.yyyy' }}
    </div>
  </mat-card-content>

  <mat-card-actions>
      <a mat-raised-button class="quest" [routerLink]="['/quests', quest.id]">
        Open details
      </a>
      <a mat-raised-button (click)="onExecute()" color="primary">
        Execute
      </a>
  </mat-card-actions>
</mat-card>
