@import "./app/shared/style/variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.error {
  color: $colorRedForError;
}

.notify-error {
  background-color: $del-btn-bgc;
  color: $text-btn;
  height: max-content;
}

.notify-warning {
  background-color: $reset-btn-bgc;
  color: $text-btn;
  height: max-content;
}

.notify-success {
  background-color: $save-btn-bgc;
  color: $text-btn;
  max-width: 200px;
  height: max-content;
}

mat-progress-spinner.mat-progress-spinner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}