<div class="searchContainer">
  <form [formGroup]="searchForm" (ngSubmit)="search(searchInput.value)">
    <mat-form-field class="search-field">
      <input matInput placeholder="Search" #searchInput formControlName="search" />
      <button mat-button *ngIf="this.searchForm.get('search').value" matSuffix mat-icon-button aria-label="Clear"
        (click)="reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button matSuffix mat-icon-button (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>